<html>
        <head>
            <title>Eat Povidlo Blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Eat Povidlo Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">О полезном питании :)</a></h2>
                <p>Если вы очень любите поесть - съешьте повидло. Вкусно, полезно, разнообразно</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">О хорошей жизни!</a></h2>
                <p>Жить и есть надо с удовольствием!</p>
            </div>
        </body>
    </html>
